<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>


<%= form_for @school do |f| %>
  Enter School Name: <%= f.text_field :name, value: "School_A" + rand(88888).to_s %>
  <br>
  <br>
  Password: <%= f.text_field :password, value: 1234 %>
  <br>
  <br>
  Password Confirmation: <%= f.text_field :password_confirmation, value: 1234 %>
  <br>
  <br>
  Location: <%= f.text_field :location, value: "121.2 23.43" %>
  <br>
  <br>
  Fun Fact About Your School: <%= f.text_field :bio, value: "We are sweet" %>
  <br>
  <br>
  <%= f.submit :next%>

<% end %>
