<h1>Add Courses</h1>

<%= text_field_tag :subject,               nil, value: "Advanced Algebra", placeholder: "ie Algebra"%>
<%= text_field_tag :course_number,         nil, value: "Math_115",         placeholder: "ie MATH_134"%>
<%= text_field_tag :min_students_to_teach, nil, value: "23",               placeholder: "ie 25"%>
<%= button_tag "add", id: "add_course_button" %>
<br><br><br>

<%= form_tag school_courses_path  do %>
  <%= render partial: "courses_table" %>
  <%= button_tag "next", id: "next_button" %>
<% end %>

<%# Calendar maybe %>
<!-- https://github.com/robmonie/jquery-week-calendar/wiki -->
